fastapi
uvicorn
sqlalchemy
psycopg2-binary
boto3
python-multipart
python-dotenv
pydantic[email]
celery
redis
python-jose[cryptography]
passlib[bcrypt]
pypdf
moviepy
imageio-ffmpeg
email-validator
dnspython
bcrypt==3.2.2
pytest
httpx
pytest-asyncio
requests
ruff
numpy
opencv-python-headless
scikit-image
pytesseract
pdf2image
Pillow
google-generativeai
pylsd-nova
